/* :: TO DO -- css stylesheet :: */

:root{ /* colors: */
    --colorFrame: rgba(0, 0, 0, 0.75);
    --color01: rgba(235, 235, 235, 0.6);
    --color02: rgba(230, 230, 230, 0.7);
    --color03: rgba(190, 190, 190, 0.4);
    --color04: rgb(255, 255, 255);
    --colorBtn: rgba(207, 1, 1, 0.733);
}
*{  box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:0;
    padding:0;
}

body{ color:black;
    background-color: white;
    padding-top: 12rem;
}

.container{  display:flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    max-width: 100%; 
    max-height: 100%;}

h1{ margin: 4%;
    font-stretch: 2rem;}

/* ::¶:: the list ::¶:: */ 

.listContainer{ position: relative;
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    align-items: center;
    max-width: 50%; 
    max-height: 70%;
    border: 0.25rem solid var(--color03);
    border-radius: 0.8rem;
    background-color: var(--color01);
}

.listDiv{ position: relative;
    min-width: 80%;
    min-height: 30%;
    margin: 0.5%;
    border: 0.08rem solid var(--color03);
    border-radius: 0.8rem;
    background-color: var(--color04);
}
   
#list001{ position: relative; 
    cursor: pointer;
    font-size: 200%;
    list-style-type: none;
    padding: 2%;
}
#list001 :nth-child(odd){ 
    background-color: var(--color03);
    border-radius: 1.5%;
    padding: 3%;
}
#list001 :nth-child(even){ 
    background-color: var(--color04);
    padding: 4%;
}

/* :::: - buttons - :::: */ 
.btnContainer{ position: relative;
    display: flex;
    justify-content: space-evenly;
}

#btnADD{ position: relative;
    cursor: pointer;
    width: 55%;
    height: 55%;
    margin: 5%;
    padding: 1%;
    font-size: 150%;
    border: 0.2rem solid var(--color03);
    border-radius: 0.5rem;
    background-color: var(--color02);
    box-shadow: 0.1rem 0.1rem 0.1rem var(--colorFrame);
}
#btnADD:after{ content: '\2795';}
 
#btnREMOVE{ position: relative;
    cursor: pointer;
    width: 55%;
    height: 55%;
    margin: 5%;
    padding: 1%;
    font-size: 150%;
    border: 0.2rem solid var(--color03);
    border-radius: 0.5rem;
    background-color: var(--color02);
    box-shadow: 0.1rem 0.1rem 0.1rem var(--colorFrame);
}
#btnREMOVE:after{ content: '\2796';}

#clearALL{ position: relative;
    cursor: pointer;
    width: 55%;
    height: 55%;
    margin: 5%;
    padding: 1%;
    font-size: 150%;
    font-weight: bold;
    color: var(--colorBtn);
    background-color: var(--color02);
    border: 0.2rem solid var(--color03);
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.1rem 0.1rem var(--colorFrame);
}
#clearALL:after{ content:'\2298';}

#btnADD:hover{ transform: scale(1.2);}
#btnREMOVE:hover{ transform: scale(1.2);}
#clearALL:hover{ transform: scale(1.2);}


/* input: */
#inptTASKDiv{ position: relative;
    padding: 3%;
    margin: 4%;
    box-shadow: 0.1rem 0.1rem 0.1rem var(--colorFrame);
    width: 95%;
    font-size: 150%;
    border: 0.2rem solid var(--color03);
    border-radius: 0.6rem;
}
s
#newTaskText{ margin: 1%;}

#newTASK{ width: 85%; 
    height: 25%;
    margin-top: 1.5%;
    padding: 2%;
    border-style: inherit;
    background-color: var(--color04);
    border-radius: 0.6rem;
    font-size: 160%;
}
 
/* class for checked state onclick */
.checked{ text-decoration: line-through;}


@media only screen and (max-width: 940px) {
    .listContainer{ max-width: 100%;
    max-height: 100%;
    padding: 2%;}
}

@media (orientation:landscape){
    .listContainer{ max-width: 100%;
    max-height: 100%;
    padding: 2%;}
}
